body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding:0;
}
#container{
    background: linear-gradient(white, #adadad); /* Standard syntax */


    height : 1300px;
    width: 100%;
    position: absolute;
}
#H-navigation{
    background-color: #313131;
    height : 45px;
    width : 100%;
    margin:0 auto;
    position: absolute;
    box-shadow: 1px 7px 15px #313131;
}
#content-pic{
    width:100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline;
    color: #c8c8c8;
    padding:0 45px 20px 0;
}
a, a:visited{
    color: #c8c8c8;
    text-decoration: none;
}
a:hover {
    color: #6b6b6b;
    text-decoration: none;
}
#jumbo-slide{
    background-color:transparent;
    height : 605px;
    width : 100%;
    margin: 45px 0 auto;
    position: absolute;
    z-index: -1;


}
#circle:hover{
    background: linear-gradient(white, #adadad);
}
#buttonz-slide{
    background-color:transparent;
    height : 30px;
    width : 100%;
    margin: 650px 0 auto;
    position:absolute;

}
/*********************************/
/*********************************/
/*NOTE Margin: top left right bot*/
/*********************************/
/*********************************/
.text{
    position:absolute;
    margin-top:100px;
    margin-left:10%;
    font-size:17px;
}
#pic-1{
    background-color: #d9d9d9;
    width: 33.3%;
    height: 185px;
    position: absolute;
    margin: -45px auto;
    border: #a3a3a3 1px solid;


}

#pic-2{
    background-color: #d9d9d9;
    width: 33.3%;
    height: 185px;
    position: absolute;
    margin: -45px 473px auto;
    border: #a3a3a3 1px solid;


}

#pic-3{
    background-color: #d9d9d9;
    width: 33.3%;
    height: 185px;
    position: absolute;
    margin: -45px 947px auto;
    border: #a3a3a3 1px solid;


}
p{
    margin-left:4px;
    margin-right:4px;
    margin-top:0;
}

span{
    margin-left:42%;
    text-decoration:underline;
}

/****************/
/*DROP DOWN MENU*/
/****************/
nav{
    height:auto;
}
nav ul ul{
    display: none;

}
nav ul li:hover > ul{
    display:block;
}
nav ul {
    list-style:none;
    position: relative;
    display: inline-table;
    margin:0;
    padding:0;

}
nav ul:after{
    content: "";
    clear: both;
    display: block;
}
nav ul li {
    float: left;
    margin-left:10px;
    height:150px;
}
nav ul li.hover{
    margin-top:15px;
    padding:auto;
    position: relative;
    z-index:1;
}


nav ul li a {
    display: block;
    color: #757575;
    text-decoration: none;
    padding-top:5px;
    padding-bottom:5px;

}

nav ul ul li {
    float: none;
    position: relative;
    padding-right: 0;
    padding-top:5px;
    color: #212121;
}

nav ul ul li a:hover {
    background: #d8d8d8;


}
/************************************/
/************************************/
/*THIS IS THE CSS FOR THE SLIDE SHOW*/
/************************************/
/************************************/
.slideshow {
    width: 100%;
    margin: 45px auto;
    overflow: hidden;

}

.slideshow-container {
    width: 100%;
    transition: 1s ease;
    height: 675px;
}

.slide {
    animation: slide 24s ease infinite;
}


/************************************/
/************************************/
/*****THIS IS THE END SLIDESHOW******/
/************************************/
/************************************/