body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding:0;
}
#container{
    background: linear-gradient(white, #adadad); /* Standard syntax */


    height : 1300px;
    width: 100%;
    position: absolute;
}
#H-navigation{
    background-color: #313131;
    height : 45px;
    width : 100%;
    margin:0 auto;
    position: absolute;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline;
    color: #c8c8c8;
    padding:0 45px 20px 0;
}
a, a:visited{
    color: #c8c8c8;
    text-decoration: none;
}
a:hover {
    color: #6b6b6b;
    text-decoration: none;
}
#jumbo-slide{
    background-color:transparent;
    height : 605px;
    width : 100%;
    margin: 45px 0 auto;
    position: absolute;
    z-index: -1;


}
#buttonz-slide{
    background-color:transparent;
    height : 30px;
    width : 100%;
    margin: 650px 0 auto;
    position:absolute;

}
/*********************************/
/*********************************/
/*NOTE Margin: top left right bot*/
/*********************************/
/*********************************/

#pic-1{
    background-color: #d9d9d9;
    width: 360px;
    height: 180px;
    position: absolute;
    margin: 680px 0 auto;
    border: #a3a3a3 1px solid;

 }

#pic-2{
    background-color: #d9d9d9;
    width: 360px;
    height: 180px;
    position: absolute;
    margin: 680px 360px auto;
    border: #a3a3a3 1px solid;


}

#pic-3{
    background-color: #d9d9d9;
    width: 360px;
    height: 180px;
    position: absolute;
    margin: 680px 720px auto;
    border: #a3a3a3 1px solid;


}

#pic-4{
    background-color: #d9d9d9;
    width: 341px;
    height: 180px;
    position: absolute;
    margin: 680px 1080px auto;
    border: #a3a3a3 1px solid;


}
span{
    margin-left:42%;
    text-decoration:underline;
}
#FQ{
    margin-left:34%;
    text-decoration:underline;

}
/****************/
/*DROP DOWN MENU*/
/****************/
nav{
    height:auto;
}
nav ul ul{
    display: none;

}
nav ul li:hover > ul{
    display:block;
}
nav ul {
    list-style:none;
    position: relative;
    display: inline-table;
    margin:0;
    padding:0;

}
nav ul:after{
    content: "";
    clear: both;
    display: block;
}
nav ul li {
    float: left;
    margin-left:10px;
    height:150px;
}
nav ul li.hover{
    margin-top:15px;
    padding:auto;
    position: relative;
    z-index:1;
}


nav ul li a {
    display: block;
    color: #757575;
    text-decoration: none;
    padding-top:5px;
    padding-bottom:5px;

}

nav ul ul li {
    float: none;
    position: relative;
    padding-right: 0;
    padding-top:5px;
    color: #212121;
}

nav ul ul li a:hover {
    background: #d8d8d8;


}
/************************************/
/************************************/
/*THIS IS THE CSS FOR THE SLIDE SHOW*/
/************************************/
/************************************/
#quickslider{
    width:100%;
    margin:45px auto;
    height: 650px;
    position: absolute;
    z-index:0;
}
.quickslider{
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height:400px;
}
.quickslider img{
    display: none;
    margin: 0;
    padding: 0;
}

.nav-thumbs{
    position: absolute;
    clear:both;
    bottom:15px;
    left:42%;
}
.nav-thumbs ul{
    list-style-type: none;
}
.nav-thumbs ul li{
    float:left;
    margin-top:20px;
}
.nav-thumbs ul li a{
    display:block;
    width:10px;
    height:10px;
    float: left;
    margin:0 5px;
    background-color: #fff;
    text-indent: -9999px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.nav-thumbs ul li a:hover, .nav-thumbs ul li a.active{
    background-color: #a89d8a !important;
}
.active{
    background-color: #a89d8a !important;
}

.quickslider-nav{
    position:relative;
    clear:both;
    color:#000;
    margin-bottom:100px;
}
.quickslider-nav a{
    text-decoration: none;
}
.quickslider-nav .left{
    float: left;
    background-color: #fff;
    padding:5px 10px;
    margin-top:170px;
}
.quickslider-nav .right{
    float: right;
    background-color: #fff;
    padding:5px 10px;
    margin-top:170px;

}
.quickslider-nav .left:hover, .quickslider-nav .right:hover{
    background-color: #000;
    color:#fff;
}
/************************************/
/************************************/
/*****THIS IS THE END SLIDESHOW******/
/************************************/
/************************************/